@import "../vars/vars.scss";

@import "./split/homepage/header.scss";

h2{
    margin-bottom: 24px;

    &:after{
        content: '';
        display: block;
        width: 25%;
        height: 3px;
        background-color: var(--color0);
        margin-top: 18px;
    }
}

.part-1{
    min-height: 100vh;
    background: linear-gradient(rgba(173,219,0,0.1), var(--alpha));

    .container{
        @include maxscreen();
        padding: 48px 12px;   

        .illustration{
            margin-bottom: 24px;
            img{
                @include boxshadow();
                border-radius: 10px;
            }
        }

        .content{
            
        }
    }
}