@import "../vars/vars.scss";

@import "./split/homepage/header.scss";

h2{
    margin-bottom: 24px;

    &:after{
        content: '';
        display: block;
        width: 25%;
        height: 3px;
        background-color: var(--color0);
        margin-top: 18px;
    }
}

.part-1{
    min-height: 100vh;
    background: linear-gradient(rgba(173,219,0,0.05), var(--alpha));

    .container{
        @include maxscreen();
        padding: 48px 12px;   

        .illustration{
            margin-bottom: 24px;
            img{
                @include boxshadow();
            }
        }

        .content{
            max-width: 414px;
        }
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .part-1{
        .container{
            @include flex(row, flex-start, flex-start);
            padding: 60px 16px;

            .content{
                margin-left: 48px;
            }
        }
    }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    h2{
        font-size: 2em;
    }
    .part-1{
        .container{
            justify-content: space-around;
            padding: 100px 16px;

            .illustration{
                width: 360px;
            }

            .content{
                font-size: 18px;
            }
        }
    }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    .part-1{
        .container{
            padding: 120px 30px;

            .illustration{
                width: 420px;
            }
            .content{
                max-width: 500px;
            }
        }
    }
}