{% extends 'themes/default/app/layout/layout.html.twig' %}

{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('default_homepage') }}
{% endblock %}

{% block title %}Angkor Restaurant Aix-en-provence{% endblock %}

{% block main_content %}
    <header>
    
        <div class="page-title">
            <p class="subtitle">La cuisine cambodgienne à Aix-en-provence</p>
            <h1>Angkor Restaurant</h1>
            <p>
                Cuisine familiale et inspirée des pays d'Asie, Angkor Restaurant 
                vous propose de dégustez à emporter et en livraison nos plats 
                fait maison en toute simplicité.
            </p>
            <div class="cta">
                <a href="" class="btn btn-color0">Découvrir notre menu</a>
            </div>
        </div>

    </header>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('default_homepage') }}
{% endblock %}