@import "../../../vars/vars.scss";

.home-bg{
    position: absolute;
    top: -80px;
    right: 0;
    display: block;
    width: 60%;
    height: 150%;
    overflow: hidden;
    z-index: -1;

    svg{
        transform: translateX(60px);
    }
}

.page-title{
    padding: 0 12px;
    @include maxscreen();
    min-height: 90vh;

    .container{
        max-width: 414px;
        text-align: center;
        margin: 0 auto;
    }

    .subtitle{
        color: var(--color0);
        font-size: 18px;
        @include fontSemibold();
    }

    h1{
        font-size: 3em;
        color: #161616;
    }

    .cta{
        margin-top: 24px;
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    @keyframes moveSvg{
        0%{
            d: path("M307.5,7.18C184.44,36.43-39.86,25.29,6.12,241.22S312.61,415.37,362.76,538,474.21,1052,798.82,795.7,1031.47,47.58,1031.47,47.58,430.56-22.08,307.5,7.18Z")
        }
        100%{
            d: path("M307.5,7.18C184.44,36.43-32-29.68,14,186.25S233.44,509.77,283.6,632.37s271.16,376.34,595.76,120S1031.47,47.58,1031.47,47.58,430.56-22.08,307.5,7.18Z")
        }
    }
    .home-bg{
        svg{
            path{
                animation: 6s ease-in-out 1s infinite alternate moveSvg;    
            }
        }
    }
    .page-title{
        padding: 0 16px;

        .container{
            max-width: 500px;
        }
        
        .subtitle{
            font-size: 20px;
        }
    
        h1{
            font-size: 5em;
            margin-bottom: 8px;

            & + p{
                font-size: 18px;
            }
        }
    
        .cta{
            margin-top: 48px;
        }
    }
}


//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    .page-title{
        .container{
            margin: 0;
            text-align: left;
        }
    }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    .page-title{
        padding: 0 86px;

        .container{
            max-width: 500px;
        }
        
        .subtitle{
            font-size: 24px;
        }
    
        h1{
            font-size: 6.5em;
        }
    
        .cta{
            margin-top: 48px;
        }
    }
}

//                      __   _ _  _   _  _    ___    __
//                     | _| / | || | | || |  / _ \  |_ |
//    _____ _____ _____| |  | | || |_| || |_| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |__   _|__   _| |_| |  | |_____|_____|_____|
//                     | |  |_|  |_|    |_|  \___/   | |
//                     |__|                         |__|
@media (min-width: 1440px){
    .page-title{
        padding: 0;
    }
}

//                      __   _  ___ ____   ___    __
//                     | _| / |/ _ \___ \ / _ \  |_ |
//    _____ _____ _____| |  | | (_) |__) | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |\__, / __/| |_| |  | |_____|_____|_____|
//                     | |  |_|  /_/_____|\___/   | |
//                     |__|                      |__|
@media (min-width: 1920px){
    .page-title{
        padding: 60px 0 0 0;
    }
    .page-title h1 + p {
        font-size: 20px;
    }
}