@import "../../../vars/vars.scss";

.home-bg{
    position: absolute;
    top: -80px;
    right: 0;
    display: block;
    width: 60%;
    height: 150%;
    overflow: hidden;

    svg{
        transform: translateX(60px);
    }
}

.page-title{
    padding: 0 12px;
    @include maxscreen();
    min-height: 90vh;

    .container{
        max-width: 414px;
        text-align: center;
        margin: 0 auto;
        @include flex(column, center, center);
    }

    .subtitle{
        color: var(--color0);
        font-size: 18px;
        @include fontSemibold();
    }

    h1{
        font-size: 3em;
        color: #161616;
    }

    .cta{
        margin-top: 24px;
        max-width: 340px;
        min-width: 280px;

        .btn{
            padding: 18px 28px;
        }
    }

    @keyframes scaleImg {
        0%{transform: scale(1);}
        100%{transform: scale(1.05);}
    }

    @keyframes scaleImg2 {
        0%{transform: scale(1);}
        100%{transform: scale(0.5);}
    }

    .illustration{
        position: relative;
        margin-top: 24px;
        @include flex(column, center, center);

        .nouilles, .sushi, .banhoy{
            border-radius: 800px;
            overflow: hidden;
            box-shadow: 0 5px 20px transparentize($color: #15120D, $amount: 0.8);

            img{
                animation: 6s ease-in-out 1s infinite alternate scaleImg;    
            }
        }

        .nouilles{
            width: 230px;
            height: 230px;
        }

        .sushi{
            width: 100px;
            height: 100px;
            margin-left: 156px;
        }

        .banhoy{
            display: none;
            width: 120px;
            height: 120px;

            img{
                object-fit: cover;
                height: 100%;
            }
        }

        &:before{
            content: '';
            background-color: var(--color0);
            display: block;
            position: absolute;
            bottom: 35px;
            right: 148px;
            width: 90px;
            height: 90px;
            border-radius: 150px;
            box-shadow: 0 5px 20px transparentize($color: #15120D, $amount: 0.8);
            animation: 6s ease-in-out 1s infinite alternate scaleImg2;
        }
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    
    @keyframes moveSvg{
        0%{
            d: path("M307.5,7.18C184.44,36.43-39.86,25.29,6.12,241.22S312.61,415.37,362.76,538,474.21,1052,798.82,795.7,1031.47,47.58,1031.47,47.58,430.56-22.08,307.5,7.18Z")
        }
        100%{
            d: path("M307.5,7.18C184.44,36.43-32-29.68,14,186.25S233.44,509.77,283.6,632.37s271.16,376.34,595.76,120S1031.47,47.58,1031.47,47.58,430.56-22.08,307.5,7.18Z")
        }
    }
    .home-bg{
        z-index: -1;

        svg{
            path{
                animation: 6s ease-in-out 1s infinite alternate moveSvg;    
            }
        }
    }
    .page-title{
        padding: 0 16px;

        .container{
            max-width: 500px;
        }
        
        .subtitle{
            font-size: 20px;
        }
    
        h1{
            font-size: 5em;
            margin-bottom: 8px;

            & + p{
                font-size: 18px;
            }
        }
    
        .cta{
            margin-top: 48px;
        }

        .illustration{  
            margin-top: 60px;

            .nouilles{
                width: 330px;
                height: 330px;
            }
    
            .sushi{
                width: 150px;
                height: 150px;
            }

            &:before{
                bottom: 124px;
            }
        }
    }
}


//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    .page-title{
        @include flex(row, flex-start, flex-start);

        .container{
            margin: 0;
            text-align: left;
            align-items: flex-start;
        }

        .illustration{   
            margin-top: 0;
            margin-left: 48px; 

            .nouilles{
                width: 330px;
                height: 330px;
            }
    
            .sushi{
                width: 150px;
                height: 150px;
                position: absolute;
                bottom: -166px;
                right: 0;
            }

            &:before{
                bottom: -106px;
                right: 174px;
            }
        }
    }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    .page-title{
        padding: 0 86px;

        .container{
            max-width: 500px;
        }
        
        .subtitle{
            font-size: 24px;
        }
    
        h1{
            font-size: 6.5em;
        }
    
        .cta{
            margin-top: 48px;
        }

        .illustration{
            margin-left: 180px;
            transform: translateY(86px);

            .banhoy{
                display: block;
                position: absolute;
                top: -83px;
                right: -85px;
            }
        }
    }
}

//                      __   _ _  _   _  _    ___    __
//                     | _| / | || | | || |  / _ \  |_ |
//    _____ _____ _____| |  | | || |_| || |_| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |__   _|__   _| |_| |  | |_____|_____|_____|
//                     | |  |_|  |_|    |_|  \___/   | |
//                     |__|                         |__|
@media (min-width: 1440px){
    .page-title{
        padding: 0;

        .illustration{
            margin-left: 220px;
            transform: translateY(12px);

            .nouilles{
                width: 480px;
                height: 480px;
            }

            .banhoy{
                top: -53px;
            }
        }
    }
}

//                      __   _  ___ ____   ___    __
//                     | _| / |/ _ \___ \ / _ \  |_ |
//    _____ _____ _____| |  | | (_) |__) | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |\__, / __/| |_| |  | |_____|_____|_____|
//                     | |  |_|  /_/_____|\___/   | |
//                     |__|                      |__|
@media (min-width: 1920px){
    .page-title{
        padding: 60px 0 0 0;

        .illustration{
            &:before{
                right: 161px;
            }
        }
    }
    .page-title h1 + p {
        font-size: 20px;
    }
}